<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mall.redis.oauth2.user.mapper.UserMapper">

    <select id="getUserByUsername" parameterType="string" resultType="SysUser">
        SELECT
        *
        FROM
        sys_user
        WHERE
        username = #{username}
    </select>

    <select id="getRolesByUserId" parameterType="int" resultType="SysRole">
        SELECT
        sr.*
        FROM
        sys_user_role sur
        INNER JOIN
        sys_role sr
        ON
        sr.id = sur.role_id
        WHERE
        sur.user_id = #{userId}
    </select>

</mapper>